@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

section {
  scroll-snap-align: start;
}
